.bgimage{
    background: url('../../../public/humanitario-pano.webp') center 30% / cover no-repeat fixed;
    height: 350px;
}

.footer {
    background-color: gray;
    color: #efefef;
    padding: 30px 0 ;
}

.footer a{
    color: #639bcf;
}

.footer a:hover {
    color: #d8e6f3;
}

.link-padrao {
    text-decoration: none; /* Remove o sublinhado padrão */
    color: inherit; /* Herda a cor do texto do elemento pai */
    /* Outros estilos que você deseja remover ou modificar */
}

/* styles.css ou outro arquivo CSS */
.large-card {
  height: 400px; /* Ajuste a altura conforme necessário */
  width: 100%;
}

.large-card .card-img-top {
  height: 200px; /* Ajuste a altura da imagem conforme necessário */
  object-fit: cover; /* Ajusta a imagem para cobrir a área */
}

  /*
  .large-card {
    width: 300px;
    height: auto; 
  }
  
  .large-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  */

  .card-title a {
    text-decoration: none;
    color: inherit;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-justify {
    text-align: justify;
  }
  
